<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="36f8aca1-3f68-4a7d-9e1e-a696011055bf" Alias="Common.LearnMore" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Saznaj više]]></Translation>
    <Translation Language="en-US"><![CDATA[Learn more]]></Translation>
  </Translations>
</Dictionary>
