<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fda9a045-31ba-40e3-b528-0fa6bcdcb29d" Alias="Common.Home" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Početna]]></Translation>
    <Translation Language="en-US"><![CDATA[Home]]></Translation>
  </Translations>
</Dictionary>
