<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="26b3e917-de7d-4049-8516-15685cffb416" Alias="Common.LoadMore" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Učitaj još]]></Translation>
    <Translation Language="en-US"><![CDATA[Load more]]></Translation>
  </Translations>
</Dictionary>
