<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3df8b317-34e6-45d1-bba4-dcdd9959e7b1" Alias="ContactForm.MessageRequired" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Poruka je obavezna.]]></Translation>
    <Translation Language="en-US"><![CDATA[Message is required.]]></Translation>
  </Translations>
</Dictionary>
