<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f4bb93b7-2967-4f6d-ad1c-ef958c22ff86" Alias="ContactForm.PhoneLabel" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Telefon]]></Translation>
    <Translation Language="en-US"><![CDATA[Phone]]></Translation>
  </Translations>
</Dictionary>
