<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a7aba71a-d725-4860-82d8-3687d774baa0" Alias="ContactForm.NameRequired" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Ime i prezime je obavezno.]]></Translation>
    <Translation Language="en-US"><![CDATA[Full name is required.]]></Translation>
  </Translations>
</Dictionary>
