<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a946fd58-a1d7-4279-bf04-51b76ff556bb" Alias="ContactForm.PhoneInvalid" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Unesite ispravan broj telefona.]]></Translation>
    <Translation Language="en-US"><![CDATA[Please enter a valid phone number.]]></Translation>
  </Translations>
</Dictionary>
