<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9aeeac03-6288-4149-88cf-900ece1d6ec7" Alias="ContactForm.EmailTooLong" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Email adresa je predugačka.]]></Translation>
    <Translation Language="en-US"><![CDATA[The email address is too long.]]></Translation>
  </Translations>
</Dictionary>
