<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="060810e4-d16e-4024-9287-52a49169064d" Alias="ContactForm.SuccessBody" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Vaša poruka je uspešno poslata. Javićemo vam se u najkraćem mogućem roku.]]></Translation>
    <Translation Language="en-US"><![CDATA[Your message has been sent successfully. We will get back to you as soon as possible.]]></Translation>
  </Translations>
</Dictionary>
