<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2b60a297-5482-4091-a3f1-7ef848f663a0" Alias="ContactForm.MessageLabel" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Poruka]]></Translation>
    <Translation Language="en-US"><![CDATA[Message]]></Translation>
  </Translations>
</Dictionary>
