<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="567db67c-badd-4042-b8ac-cbd9c410297e" Alias="ContactForm.NameTooLong" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Ime i prezime ne sme biti duže od 150 karaktera.]]></Translation>
    <Translation Language="en-US"><![CDATA[Full name must not exceed 150 characters.]]></Translation>
  </Translations>
</Dictionary>
