<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="23d35cb7-a3a5-4673-b10f-aa400e44fda8" Alias="ContactForm.EmailInvalid" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Unesite ispravnu email adresu.]]></Translation>
    <Translation Language="en-US"><![CDATA[Please enter a valid email address.]]></Translation>
  </Translations>
</Dictionary>
