<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a3f34e7f-ec30-4846-80c8-873ff3ffc4b8" Alias="ContactForm.CompanyTooLong" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Naziv kompanije ne sme biti duži od 150 karaktera.]]></Translation>
    <Translation Language="en-US"><![CDATA[Company name must not exceed 150 characters.]]></Translation>
  </Translations>
</Dictionary>
