<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a0179aa7-bacd-4231-8f84-a4844517d972" Alias="ContactForm.Submit" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Pošalji]]></Translation>
    <Translation Language="en-US"><![CDATA[Send]]></Translation>
  </Translations>
</Dictionary>
