<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="24af95e4-5619-4e1a-ac38-a90eced34c26" Alias="ContactForm.EmailRequired" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Email je obavezan.]]></Translation>
    <Translation Language="en-US"><![CDATA[Email is required.]]></Translation>
  </Translations>
</Dictionary>
