<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bec461e8-332a-4e12-92a1-1a19ca0b96fe" Alias="ContactForm.EmailLabel" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Email]]></Translation>
    <Translation Language="en-US"><![CDATA[Email]]></Translation>
  </Translations>
</Dictionary>
