<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0898df7b-a895-4363-8565-d247fa7db80d" Alias="cards" Level="3">
  <Info>
    <Name>Cards</Name>
    <Icon>icon-thumbnail-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Page block: an Intro Text (eyebrow/title/text/button) above a responsive grid of cards. Each card has an icon (or fallback number) in a circle top-left, a bold title and body text. Cards adapt to the section theme (navy on a dark section, light otherwise). Optional section background via the Section mixin.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/HomePage</Folder>
    <Compositions>
      <Composition Key="76fed7ca-df43-4720-a52e-8659c9549fb1">introText</Composition>
      <Composition Key="02956852-8784-4059-b38f-a21bb7373a44">section</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>41d6d4ee-b219-480f-9576-1e32de9b473e</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>e1520833-37d6-4847-a955-1e841bf30423</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The cards. Each is an icon/number + title + text.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>77734f7b-62d9-40d2-b72e-17aefe60692f</Key>
      <Name>Per Row</Name>
      <Alias>perRow</Alias>
      <Definition>0b8ba3b3-f40a-4060-8ad9-d5bbcc79cd1d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How many cards per row on desktop (2, 3 or 4). Defaults to 3. Always stacks to 1 on mobile.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c89ab1d8-9ee4-4418-9d61-190f5a938235</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
