<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e11bb6d-cfee-433c-9d48-19a81c125aaf" Alias="standardPage" Level="4">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-document color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3232a7f8-6f47-4001-89a6-01f65e5494d9">page</Parent>
    <Compositions>
      <Composition Key="3232a7f8-6f47-4001-89a6-01f65e5494d9">page</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f665b38d-a4a0-471b-8c9e-d7dd62e19414</Key>
      <Name>Components</Name>
      <Alias>components</Alias>
      <Definition>5daf31e2-fb39-4a1f-a147-77555144641d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>451bef9a-8a07-4f88-a42d-2ee9049e2fe7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
