<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0c51460-6d98-44e8-8b81-22c4d2839082" Alias="textWithImage" Level="2">
  <Info>
    <Name>Text With Image</Name>
    <Icon>icon-picture color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Reusable block: an Intro Text (eyebrow/title/text/button) beside an optional image, in a 50/50 row. Full-width text when no image. Optional section background via the Section mixin.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Shared</Folder>
    <Compositions>
      <Composition Key="76fed7ca-df43-4720-a52e-8659c9549fb1">introText</Composition>
      <Composition Key="02956852-8784-4059-b38f-a21bb7373a44">section</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1e22848-5314-4d0c-bc63-f6e79f6c7902</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional image shown beside the text. When set, the block is a 50/50 row; when empty, the text spans full width.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7770f4ad-bfee-4af5-9e35-7da4cb42853d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
