<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4da52f4-1134-4d39-bf40-44541e2701b0" Alias="blogLandingPage" Level="4">
  <Info>
    <Name>Blog Landing Page</Name>
    <Icon>icon-article color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Listing page for blog articles. Holds Blog Pages as children and renders them through a Blog Listing Cards block.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3232a7f8-6f47-4001-89a6-01f65e5494d9">page</Parent>
    <Compositions>
      <Composition Key="3232a7f8-6f47-4001-89a6-01f65e5494d9">page</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="295adff7-7cb7-4245-96e6-696eac3eebd3" SortOrder="0">blogPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8fd6cd7b-c71c-4336-ad2b-f3b32ef3982e</Key>
      <Name>Components</Name>
      <Alias>components</Alias>
      <Definition>c7b3d42b-e81d-4cfd-bb72-df30fbab18fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cd8fc20b-165c-478e-869b-5a2afe5e5b9f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
