<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb72b521-480f-4ba1-a147-ff6c236f7679" Alias="blogListingCards" Level="4">
  <Info>
    <Name>Blog Listing Cards</Name>
    <Icon>icon-thumbnail-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Page block: an Intro Text above a responsive grid of blog cards, pulled from the Blog Landing Page's child Blog Pages (newest first). Renders a "Load More" button that fetches the next batch. Optional section background via the Section mixin.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/BlogLandingPage</Folder>
    <Compositions>
      <Composition Key="76fed7ca-df43-4720-a52e-8659c9549fb1">introText</Composition>
      <Composition Key="02956852-8784-4059-b38f-a21bb7373a44">section</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>13489ce5-59c2-4b10-99d1-a69272e725ba</Key>
      <Name>Max Items</Name>
      <Alias>maxItems</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page size: how many cards to show initially and to add per "Load More" click. Defaults to 3 when 0/empty.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e7c9e5b4-3556-4562-89b3-a692f915a26e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
