<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a7d95184-b6b2-41a0-a854-72d08f9a10cf" Alias="map" Level="2">
  <Info>
    <Name>Map</Name>
    <Icon>icon-map color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Reusable block: an Intro Text (eyebrow/title/text/button) beside an embedded Google Map, in a 50/50 row. Full-width text when no map. Optional section background via the Section mixin.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Shared</Folder>
    <Compositions>
      <Composition Key="76fed7ca-df43-4720-a52e-8659c9549fb1">introText</Composition>
      <Composition Key="02956852-8784-4059-b38f-a21bb7373a44">section</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>44cae741-ffd0-406b-83e4-e0e10634d1c0</Key>
      <Name>Map Embed</Name>
      <Alias>mapEmbed</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Paste the full Google Maps "Embed a map" <iframe> HTML. When set, the block is a 50/50 row with the map beside the text; when empty, the text spans full width.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ac995a3-c9d3-44e6-b8e2-d96446b26309</Key>
      <Name>Map Position</Name>
      <Alias>mapPosition</Alias>
      <Definition>6f248eb5-42fd-4199-a51b-5107b93b97d2</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Which side the map sits on. Right (default) or Left. No effect when no map is set.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>18463289-ee93-4ac0-ad67-78275455eacc</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
