<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f4f35a9-41a1-405e-a1b2-28c00e78b9e5" Alias="battery.webp" Level="2">
  <Info>
    <Parent Key="d3ea73eb-0f96-4cc4-a721-b41999518010">home</Parent>
    <Path>/home/batterywebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-08T08:15:39</CreateDate>
    <NodeName Default="battery.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e15btcoi/battery.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>