<?xml version="1.0" encoding="utf-8"?>
<Media Key="663c7373-1e6e-4a9f-98b6-146d3aa16182" Alias="battery-full.svg" Level="2">
  <Info>
    <Parent Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f">icons</Parent>
    <Path>/icons/batteryFullsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-06T10:08:40</CreateDate>
    <NodeName Default="battery-full.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qhhj3bdv/battery-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>