<?xml version="1.0" encoding="utf-8"?>
<Media Key="050828d7-186b-46fb-b746-1963faa38c6f" Alias="chart-breakout-circle.svg" Level="2">
  <Info>
    <Parent Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f">icons</Parent>
    <Path>/icons/chartBreakoutCirclesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-06T10:08:39</CreateDate>
    <NodeName Default="chart-breakout-circle.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ewklvz1q/chart-breakout-circle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>