<?xml version="1.0" encoding="utf-8"?>
<Media Key="072606ec-4cf3-4a14-a90e-f4f47b98cb01" Alias="dataflow-03.svg" Level="2">
  <Info>
    <Parent Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f">icons</Parent>
    <Path>/icons/dataflow03svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-06T10:08:40</CreateDate>
    <NodeName Default="dataflow-03.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d03jjzpi/dataflow-03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>