<?xml version="1.0" encoding="utf-8"?>
<Media Key="090832d7-ddef-47a6-b55d-452393fd43c9" Alias="dataflow-04.svg" Level="2">
  <Info>
    <Parent Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f">icons</Parent>
    <Path>/icons/dataflow04svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-08T08:04:17</CreateDate>
    <NodeName Default="dataflow-04.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ewhlv05u/dataflow-04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>