<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d77c575-4c8e-46be-85e8-2d17e17c6fb4" Alias="hero_bg.webp" Level="2">
  <Info>
    <Parent Key="d3ea73eb-0f96-4cc4-a721-b41999518010">home</Parent>
    <Path>/home/hero_bgwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-03T14:49:23</CreateDate>
    <NodeName Default="hero_bg.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5ihdck5h/hero_bg.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>