<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3ea73eb-0f96-4cc4-a721-b41999518010" Alias="home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-06-03T14:49:18</CreateDate>
    <NodeName Default="home" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>