<?xml version="1.0" encoding="utf-8"?>
<Media Key="70cb7699-b6c0-4b07-a0e8-1da24a797087" Alias="Icon.svg" Level="2">
  <Info>
    <Parent Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f">icons</Parent>
    <Path>/icons/Iconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-09T10:04:53</CreateDate>
    <NodeName Default="Icon.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/npfhtew1/icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>