<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f" Alias="icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-06-03T14:35:16</CreateDate>
    <NodeName Default="icons" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>