<?xml version="1.0" encoding="utf-8"?>
<Media Key="755da1a0-43a9-4f39-a533-eba77aa3ee99" Alias="key.svg" Level="2">
  <Info>
    <Parent Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f">icons</Parent>
    <Path>/icons/keysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-03T14:35:50</CreateDate>
    <NodeName Default="key.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kiop5f3s/key.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>