<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e4683fe-57eb-487e-a519-69591f1e32e2" Alias="line-chart-up-02.svg" Level="2">
  <Info>
    <Parent Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f">icons</Parent>
    <Path>/icons/lineChartUp02svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-09T10:04:54</CreateDate>
    <NodeName Default="line-chart-up-02.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bq5oi1hq/line-chart-up-02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>