<?xml version="1.0" encoding="utf-8"?>
<Media Key="68e23cf4-9817-406e-9e55-7e729f0d1995" Alias="logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-03T15:08:22</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a0afbcqm/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>