<?xml version="1.0" encoding="utf-8"?>
<Media Key="c13c8331-7317-4529-844d-15d189f41741" Alias="LUM3790-01@4x 4.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LUM3790014x4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-09T10:13:08</CreateDate>
    <NodeName Default="LUM3790-01@4x 4.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xzehu314/lum3790-01-4x-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>