<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5e8106e-f3f7-48bf-9247-5d5936da57ca" Alias="pin-02.svg" Level="2">
  <Info>
    <Parent Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f">icons</Parent>
    <Path>/icons/pin02svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-09T10:04:54</CreateDate>
    <NodeName Default="pin-02.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tswfuv5m/pin-02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>