<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cb9148d-d703-430e-8301-78b52701db31" Alias="text-bg.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/textBgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-06T10:15:28</CreateDate>
    <NodeName Default="text-bg.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/alpp5otk/text-bg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>