<?xml version="1.0" encoding="utf-8"?>
<Media Key="71126799-269c-4972-a82b-54b527af859a" Alias="users-03.svg" Level="2">
  <Info>
    <Parent Key="e6c7d219-7d49-4473-85e9-1e9eb8d0079f">icons</Parent>
    <Path>/icons/users03svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-06-09T10:04:54</CreateDate>
    <NodeName Default="users-03.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/npnlbe2h/users-03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>