<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dafda00-39bf-4dad-8246-40f7e64e3d17" Alias="xLUM379-01@4x-980x724 3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/xLUM379014x980x7243png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-06-11T08:27:55</CreateDate>
    <NodeName Default="xLUM379-01@4x-980x724 3.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r2iot44w/xlum379-01-4x-980x724-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>