<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4018f81-db98-4e52-94d9-b5db13dc632e" Alias="cabinets" Level="3">
  <Info>
    <Name>Cabinets</Name>
    <Icon>icon-grid color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Shared block: an Intro Text (eyebrow/title/text/button) above a 2-column grid of cabinet cards. Each card has an image, title, description and a learn-more link. Optional section background via the Section mixin.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Shared</Folder>
    <Compositions>
      <Composition Key="76fed7ca-df43-4720-a52e-8659c9549fb1">introText</Composition>
      <Composition Key="02956852-8784-4059-b38f-a21bb7373a44">section</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1ee5c167-38cc-47e9-8dc2-fd9010d49da3</Key>
      <Name>Items</Name>
      <Alias>items</Alias>
      <Definition>86462131-5ee2-4a81-a84b-9b925d3c2349</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The cabinet cards. Each has an image, title, description and learn-more link.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cefb0a9b-2720-4766-9628-e6f1af5113b7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
