<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="66cc3777-60fa-4b9a-873b-cdaea0c5eebd" Alias="Email.MessageHeading" Level="1">
  <Info>
    <Parent>Email</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Poruka]]></Translation>
    <Translation Language="en-US"><![CDATA[Message]]></Translation>
  </Translations>
</Dictionary>
