<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0b62b5a6-5705-4340-92b7-09c0de8346b3" Alias="Email.NameLabel" Level="1">
  <Info>
    <Parent>Email</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Ime i prezime]]></Translation>
    <Translation Language="en-US"><![CDATA[Full name]]></Translation>
  </Translations>
</Dictionary>
