<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="00b0a7ed-801a-4bfd-b728-bd763c570f5c" Alias="Common.ReadMore" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Pročitaj više]]></Translation>
    <Translation Language="en-US"><![CDATA[Read more]]></Translation>
  </Translations>
</Dictionary>
