<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3b307a1c-28fd-41ba-9e79-c386b4bd61e0" Alias="ContactForm.PhoneRequired" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Telefon je obavezan.]]></Translation>
    <Translation Language="en-US"><![CDATA[Phone is required.]]></Translation>
  </Translations>
</Dictionary>
