<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3c3186a4-5800-4aa2-9dcc-939d9ddf71f6" Alias="ContactForm.CompanyLabel" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Kompanija]]></Translation>
    <Translation Language="en-US"><![CDATA[Company]]></Translation>
  </Translations>
</Dictionary>
