<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d35e474a-0d4b-4cdd-95f6-3a3ff3a1695d" Alias="ContactForm.MessageTooLong" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Poruka ne sme biti duža od 4000 karaktera.]]></Translation>
    <Translation Language="en-US"><![CDATA[Message must not exceed 4000 characters.]]></Translation>
  </Translations>
</Dictionary>
