<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2c1357d4-3748-40a7-874a-40d4b0dc2a34" Alias="ContactForm.PhoneTooLong" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Broj telefona je predugačak.]]></Translation>
    <Translation Language="en-US"><![CDATA[The phone number is too long.]]></Translation>
  </Translations>
</Dictionary>
