<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="24f5d56c-a6a1-4c16-a374-54f3d721aebe" Alias="ContactForm.Submitting" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Slanje…]]></Translation>
    <Translation Language="en-US"><![CDATA[Sending…]]></Translation>
  </Translations>
</Dictionary>
