<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6fbc720f-1b6c-4a84-80b3-f173da4f95cf" Alias="ContactForm.SuccessTitle" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Hvala na poruci!]]></Translation>
    <Translation Language="en-US"><![CDATA[Thank you for your message!]]></Translation>
  </Translations>
</Dictionary>
