<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8c895b83-026c-4777-ab44-107c2f4e1b93" Alias="ContactForm.MailFailure" Level="1">
  <Info>
    <Parent>ContactForm</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Slanje poruke trenutno nije moguće. Molimo pokušajte ponovo kasnije.]]></Translation>
    <Translation Language="en-US"><![CDATA[We are unable to send your message right now. Please try again later.]]></Translation>
  </Translations>
</Dictionary>
