<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d300c880-7c8b-4cfc-a521-7e63af3b5499" Alias="Email.SubjectPrefix" Level="1">
  <Info>
    <Parent>Email</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Nova poruka sa sajta —]]></Translation>
    <Translation Language="en-US"><![CDATA[New message from the website —]]></Translation>
  </Translations>
</Dictionary>
