<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a7d535c-7dd1-4065-be85-f9cc227494f5" Alias="Email.Heading" Level="1">
  <Info>
    <Parent>Email</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Nova poruka sa kontakt forme]]></Translation>
    <Translation Language="en-US"><![CDATA[New message from the contact form]]></Translation>
  </Translations>
</Dictionary>
