<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd3f0beb-4cd1-41d1-90d7-42f41fe86ca1" Alias="Email.CompanyLabel" Level="1">
  <Info>
    <Parent>Email</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Kompanija]]></Translation>
    <Translation Language="en-US"><![CDATA[Company]]></Translation>
  </Translations>
</Dictionary>
