<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ad305a2c-1e71-4ae2-906b-02b3031e0bae" Alias="Email.PhoneLabel" Level="1">
  <Info>
    <Parent>Email</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Telefon]]></Translation>
    <Translation Language="en-US"><![CDATA[Phone]]></Translation>
  </Translations>
</Dictionary>
