<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9336b39e-a3ef-439a-a3eb-397f2efcb26c" Alias="Email.EmailLabel" Level="1">
  <Info>
    <Parent>Email</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Email]]></Translation>
    <Translation Language="en-US"><![CDATA[Email]]></Translation>
  </Translations>
</Dictionary>
