<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="27997ed7-6d01-4299-8fc1-9fae79a3daf0" Alias="Footer.Copyright" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Sva prava zadržana.]]></Translation>
    <Translation Language="en-US"><![CDATA[All rights reserved.]]></Translation>
  </Translations>
</Dictionary>
