<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8a89c941-81f9-4897-9a5c-5fac84c1fc86" Alias="Header.SelectLanguage" Level="1">
  <Info>
    <Parent>Header</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Izaberite jezik]]></Translation>
    <Translation Language="en-US"><![CDATA[Select language]]></Translation>
  </Translations>
</Dictionary>
