<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd029a34-c1ff-4b74-918a-fb7f7c277af3" Alias="Header.ToggleMenu" Level="1">
  <Info>
    <Parent>Header</Parent>
  </Info>
  <Translations>
    <Translation Language="sr"><![CDATA[Otvori meni]]></Translation>
    <Translation Language="en-US"><![CDATA[Toggle menu]]></Translation>
  </Translations>
</Dictionary>
