<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94b6f728-62d2-44f4-9693-ed6305a03ae2" Alias="homePage" Level="3">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3232a7f8-6f47-4001-89a6-01f65e5494d9">page</Parent>
    <Compositions>
      <Composition Key="360810bb-118e-4685-ad19-6155b55d2073">footer</Composition>
      <Composition Key="306d8c10-f074-4f6f-a424-87c18a4f0bff">globalSettings</Composition>
      <Composition Key="acf342ce-ffa3-4194-8ed6-35955c07581f">header</Composition>
      <Composition Key="3232a7f8-6f47-4001-89a6-01f65e5494d9">page</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019e5eac-1bf2-7615-88f7-cbf11226ddf5">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6a2111ac-0045-4334-a61e-c502ced023f0</Key>
      <Name>Components</Name>
      <Alias>components</Alias>
      <Definition>830c5431-0d9c-4011-adcc-90fdef298ccc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1c03f99a-9ca4-41fe-af95-128057d5c230</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>