<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e30fde84-4b1c-4607-86ac-2c4ead69f67b" Alias="Background Color" Level="1">
  <Info>
    <Name>Background Color</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    "None",
    "Navy",
    "Light"
  ]
}]]></Config>
</DataType>
