<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2cf3a44b-bf4c-4a9b-92e2-8a6224ccf77d" Alias="BL - Blog Page" Level="2">
  <Info>
    <Name>BL - Blog Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b0c51460-6d98-44e8-8b81-22c4d2839082",
      "label": "Text With Image - {=title}"
    }
  ]
}]]></Config>
</DataType>
