<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86462131-5ee2-4a81-a84b-9b925d3c2349" Alias="BL - Cabinet Items" Level="2">
  <Info>
    <Name>BL - Cabinet Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "07fa5f54-60a3-49ab-a8ba-5bf3c07d11f7",
      "label": "Cabinet - {=title}"
    }
  ]
}]]></Config>
</DataType>
