<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1520833-37d6-4847-a955-1e841bf30423" Alias="BL - Cards" Level="2">
  <Info>
    <Name>BL - Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1bcc0f78-4a00-4c7d-979a-2efc66cc18b2",
      "label": "Card - {=title}"
    }
  ]
}]]></Config>
</DataType>
