<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4450161a-dead-468c-8677-66cfd407bc58" Alias="BL - Footer Columns" Level="2">
  <Info>
    <Name>BL - Footer Columns</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5fd59cee-5643-4922-8eb6-5cbb06a5d376",
      "label": "Column - {=title}"
    }
  ]
}]]></Config>
</DataType>
