<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1b48bd1-f911-4970-b0a5-e8858a70b28d" Alias="BL - Hero Features" Level="2">
  <Info>
    <Name>BL - Hero Features</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3d10db5d-7657-4b31-9272-d557829f27d5",
      "label": "Feature - {=text}"
    }
  ]
}]]></Config>
</DataType>
