<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99767ae2-653c-4ced-aa67-a7c4093cf0e2" Alias="BL - Hero Stats" Level="2">
  <Info>
    <Name>BL - Hero Stats</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "70adf308-d474-4790-b45b-9f336d237e5f",
      "label": "Stat - {=value}"
    }
  ]
}]]></Config>
</DataType>
