<?xml version="1.0" encoding="utf-8"?>
<DataType Key="830c5431-0d9c-4011-adcc-90fdef298ccc" Alias="BL - Home Page" Level="2">
  <Info>
    <Name>BL - Home Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "58cd990a-e9cd-41f6-9f78-86d60e6e4790",
      "label": "Hero Banner - {{title}}"
    }
  ]
}]]></Config>
</DataType>