<?xml version="1.0" encoding="utf-8"?>
<DataType Key="830c5431-0d9c-4011-adcc-90fdef298ccc" Alias="BL - Home Page" Level="2">
  <Info>
    <Name>BL - Home Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "58cd990a-e9cd-41f6-9f78-86d60e6e4790",
      "label": "Hero Banner - {=title}"
    },
    {
      "contentElementTypeKey": "b0c51460-6d98-44e8-8b81-22c4d2839082",
      "label": "Text With Image - {=title}"
    },
    {
      "contentElementTypeKey": "bfc7ae19-ff25-49a3-9dcb-f402e80f177b",
      "label": "Solutions - {=title}"
    },
    {
      "contentElementTypeKey": "0898df7b-a895-4363-8565-d247fa7db80d",
      "label": "Cards - {=title}"
    },
    {
      "contentElementTypeKey": "c0a7f3e1-2b4d-4f6a-8c1e-9d3b5a7e1f20",
      "label": "Contact Form - {=title}"
    }
  ]
}]]></Config>
</DataType>