<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5daf31e2-fb39-4a1f-a147-77555144641d" Alias="BL - Standard Page" Level="2">
  <Info>
    <Name>BL - Standard Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b0c51460-6d98-44e8-8b81-22c4d2839082",
      "label": "Text With Image - {=title}"
    },
    {
      "contentElementTypeKey": "0898df7b-a895-4363-8565-d247fa7db80d",
      "label": "Cards - {=title}"
    },
    {
      "contentElementTypeKey": "bfc7ae19-ff25-49a3-9dcb-f402e80f177b",
      "label": "Solutions - {=title}"
    },
    {
      "contentElementTypeKey": "c0a7f3e1-2b4d-4f6a-8c1e-9d3b5a7e1f20",
      "label": "Contact Form - {=title}"
    },
    {
      "contentElementTypeKey": "d4018f81-db98-4e52-94d9-b5db13dc632e",
      "label": "Cabinets - {=title}"
    }
  ]
}]]></Config>
</DataType>
