<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5daf31e2-fb39-4a1f-a147-77555144641d" Alias="BL - Standard Page" Level="2">
  <Info>
    <Name>BL - Standard Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b0c51460-6d98-44e8-8b81-22c4d2839082",
      "label": "Text With Image - {=title}"
    },
    {
      "contentElementTypeKey": "0898df7b-a895-4363-8565-d247fa7db80d",
      "label": "Cards - {=title}"
    },
    {
      "contentElementTypeKey": "bfc7ae19-ff25-49a3-9dcb-f402e80f177b",
      "label": "Solutions - {=title}"
    }
  ]
}]]></Config>
</DataType>
