<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f248eb5-42fd-4199-a51b-5107b93b97d2" Alias="Image Position" Level="1">
  <Info>
    <Name>Image Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    "Right",
    "Left"
  ]
}]]></Config>
</DataType>
