<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b8ba3b3-f40a-4060-8ad9-d5bbcc79cd1d" Alias="Per Row" Level="1">
  <Info>
    <Name>Per Row</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "items": [
    "2",
    "3",
    "4"
  ]
}]]></Config>
</DataType>
