<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02956852-8784-4059-b38f-a21bb7373a44" Alias="section" Level="2">
  <Info>
    <Name>Section</Name>
    <Icon>icon-application-window-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Reusable mixin: an optional section background image. Inherit it on any block/page that renders inside a <section-block>; with an image the section is a dark full-bleed band, without one it's a light section with a gray bottom border.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f759f4e3-4bfe-4e5a-8170-c089509d370e</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>e30fde84-4b1c-4607-86ac-2c4ead69f67b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Surface colour for this section. None inherits the page (transparent). Navy is the dark brand surface (light text). Light is the off-white surface. Ignored when a Background image is set (the image always renders the dark band).]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f08a604e-8d59-4a7e-bcd5-de2eea881d3e</Key>
      <Name>Background</Name>
      <Alias>background</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional full-bleed background image. Takes precedence over Background Color. Leave both empty for a light section with a gray bottom border.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9fa320d7-7bbe-402c-bab4-ed0543fda796</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>719aaa6d-d3e4-440e-b616-da44070cc04e</Key>
      <Caption>Background</Caption>
      <Alias>background</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
