<?xml version="1.0" encoding="utf-8"?>
<Content Key="44a4b07f-d028-4316-97f5-51c73b37e456" Alias="Blog i vesti" Level="2">
  <Info>
    <Parent Key="020b992c-d821-4b73-883e-811d00c51d2e">Početna</Parent>
    <Path>/Pocetna/BlogIVesti</Path>
    <Trashed>false</Trashed>
    <ContentType>blogLandingPage</ContentType>
    <CreateDate>2026-06-08T12:10:41</CreateDate>
    <NodeName Default="Blog i vesti">
      <Name Culture="sr">Blog i vesti</Name>
      <Name Culture="en-US">Blog and News</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="sr">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="faf0d5e0-6d25-4c5e-85e7-b7cc6bbe1c7b">BlogLandingPage</Template>
  </Info>
  <Properties>
    <components>
      <Value Culture="sr"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "eb72b521-480f-4ba1-a147-ff6c236f7679",
      "key": "b1c599c7-0280-4274-b17a-72dc33de28d7",
      "values": [
        {
          "alias": "eyebrow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Blog i vesti"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Saznajte \u003Cem\u003Evi\u0161e\u003C/em\u003E."
        },
        {
          "alias": "maxItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Navy"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b1c599c7-0280-4274-b17a-72dc33de28d7",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b1c599c7-0280-4274-b17a-72dc33de28d7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "eb72b521-480f-4ba1-a147-ff6c236f7679",
      "key": "b1c599c7-0280-4274-b17a-72dc33de28d7",
      "values": [
        {
          "alias": "eyebrow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Blog and News"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Learn <em>more</em>."
        },
        {
          "alias": "maxItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Navy"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b1c599c7-0280-4274-b17a-72dc33de28d7",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b1c599c7-0280-4274-b17a-72dc33de28d7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <hideChildrenFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideChildrenFromNavigation>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <title>
      <Value Culture="sr"><![CDATA[Blog i vesti]]></Value>
      <Value Culture="en-US"><![CDATA[Blog and News]]></Value>
    </title>
  </Properties>
</Content>