<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce82b858-499d-4c86-83c7-3291701029fa" Alias="Blog" Level="3">
  <Info>
    <Parent Key="44a4b07f-d028-4316-97f5-51c73b37e456">Blog i vesti</Parent>
    <Path>/Pocetna/BlogIVesti/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2026-06-08T10:33:36</CreateDate>
    <NodeName Default="Blog">
      <Name Culture="sr">Blog</Name>
      <Name Culture="en-US">Blog</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="sr">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="32e48c5a-1667-4b82-a1bd-84c6a5deb246">BlogPage</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value Culture="sr"><![CDATA[2026-06-08T00:00:00]]></Value>
      <Value Culture="en-US"><![CDATA[2026-06-08T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value Culture="sr"><![CDATA[Maksim Bogunovic]]></Value>
      <Value Culture="en-US"><![CDATA[Maksim Bogunovic]]></Value>
    </author>
    <components>
      <Value Culture="sr"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </components>
    <content>
      <Value Culture="sr"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "<h2>Pratite da saznate više</h2><p></p>"
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Ch2\u003EFollow to learn more\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </content>
    <hideChildrenFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideChildrenFromNavigation>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <previewImage>
      <Value Culture="sr"><![CDATA[[
  {
    "key": "83f1c4ba-4136-462a-a23e-a91c95c02b43",
    "mediaKey": "9f2d0423-2033-4491-912c-89f9db36f82b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "83f1c4ba-4136-462a-a23e-a91c95c02b43",
    "mediaKey": "9f2d0423-2033-4491-912c-89f9db36f82b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </previewImage>
    <previewText>
      <Value Culture="sr"><![CDATA[Lorem ispum dolor sit amet]]></Value>
      <Value Culture="en-US"><![CDATA[Lorem ispum dolor sit amet]]></Value>
    </previewText>
    <tags>
      <Value Culture="sr"><![CDATA[[
  "Oznaka bloga"
]]]></Value>
      <Value Culture="en-US"><![CDATA[[
  "Blog tag"
]]]></Value>
    </tags>
    <title>
      <Value Culture="sr"><![CDATA[Ovo je moj sjajan blog]]></Value>
      <Value Culture="en-US"><![CDATA[This is my awesome blog]]></Value>
    </title>
  </Properties>
</Content>