<?xml version="1.0" encoding="utf-8"?>
<Content Key="96ba359b-adbe-43c7-9e04-7b435fb2b14a" Alias="Proizvodi" Level="2">
  <Info>
    <Parent Key="020b992c-d821-4b73-883e-811d00c51d2e">Početna</Parent>
    <Path>/Pocetna/Proizvodi</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2026-06-11T08:30:12</CreateDate>
    <NodeName Default="Proizvodi">
      <Name Culture="sr">Proizvodi</Name>
      <Name Culture="en-US">Products</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="sr">true</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="3dd070ba-59d5-479d-94e3-85b288f2ee20">StandardPage</Template>
  </Info>
  <Properties>
    <components>
      <Value Culture="sr"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4018f81-db98-4e52-94d9-b5db13dc632e",
      "key": "1be216a8-2bd6-4fd8-b832-ed46661ca7ba",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "BESS re\u0161enja za \u003Cem\u003Eindustriju\u003C/em\u003E i \u003Cem\u003Eenergetski sektor\u003C/em\u003E."
        },
        {
          "alias": "eyebrow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sistemi"
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "07fa5f54-60a3-49ab-a8ba-5bf3c07d11f7",
                "key": "4bd9e264-66bb-4ff3-9f72-e056e4e31a0d",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1015d26c-ae98-42e6-9fd8-4722d9c5fdd8",
                        "mediaKey": "4dafda00-39bf-4dad-8246-40f7e64e3d17",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kabinetska re\u0161enja"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Modularna kabinetska re\u0161enja za industriju i komercijalne objekte."
                  }
                ]
              },
              {
                "contentTypeKey": "07fa5f54-60a3-49ab-a8ba-5bf3c07d11f7",
                "key": "67b69bb2-5f52-47f2-b7d1-a1d7d3aa54ee",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "09877b76-9032-49b8-bb03-f5e6eba15489",
                        "mediaKey": "c13c8331-7317-4529-844d-15d189f41741",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kontejnerska re\u0161enja"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kontejnerska re\u0161enja za energetske dobavlja\u010De i velike objekte"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Saznaj vi\u0161e",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4bd9e264-66bb-4ff3-9f72-e056e4e31a0d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "67b69bb2-5f52-47f2-b7d1-a1d7d3aa54ee",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4bd9e264-66bb-4ff3-9f72-e056e4e31a0d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "67b69bb2-5f52-47f2-b7d1-a1d7d3aa54ee",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Navy"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1be216a8-2bd6-4fd8-b832-ed46661ca7ba",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1be216a8-2bd6-4fd8-b832-ed46661ca7ba",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d4018f81-db98-4e52-94d9-b5db13dc632e",
      "key": "1be216a8-2bd6-4fd8-b832-ed46661ca7ba",
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "BESS solutions for <em>industry</em> and the <em>energy sector</em>."
        },
        {
          "alias": "eyebrow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Systems"
        },
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "07fa5f54-60a3-49ab-a8ba-5bf3c07d11f7",
                "key": "4bd9e264-66bb-4ff3-9f72-e056e4e31a0d",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1015d26c-ae98-42e6-9fd8-4722d9c5fdd8",
                        "mediaKey": "4dafda00-39bf-4dad-8246-40f7e64e3d17",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Cabinet solutions"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Modular cabinet solutions for industry and commercial facilities."
                  }
                ]
              },
              {
                "contentTypeKey": "07fa5f54-60a3-49ab-a8ba-5bf3c07d11f7",
                "key": "67b69bb2-5f52-47f2-b7d1-a1d7d3aa54ee",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "09877b76-9032-49b8-bb03-f5e6eba15489",
                        "mediaKey": "c13c8331-7317-4529-844d-15d189f41741",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Container solutions"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Container solutions for energy providers and large facilities"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Learn more",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4bd9e264-66bb-4ff3-9f72-e056e4e31a0d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "67b69bb2-5f52-47f2-b7d1-a1d7d3aa54ee",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4bd9e264-66bb-4ff3-9f72-e056e4e31a0d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "67b69bb2-5f52-47f2-b7d1-a1d7d3aa54ee",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Navy"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1be216a8-2bd6-4fd8-b832-ed46661ca7ba",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1be216a8-2bd6-4fd8-b832-ed46661ca7ba",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <hideChildrenFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideChildrenFromNavigation>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <title>
      <Value Culture="sr"><![CDATA[Proizvodi]]></Value>
      <Value Culture="en-US"><![CDATA[Products]]></Value>
    </title>
  </Properties>
</Content>